*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	background-color: #232323;
	font-family: courier;
}

h1{
	color: #fff;
	text-transform: uppercase;
	background-color: steelblue;
}

#colorDisplay{
	font-size: 1.5em;
}

nav{
	background-color: #fff;
}

a{
	display: inline-block;
	padding: 2px 5px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(42, 55, 120);
	letter-spacing: 2px;
	transition: all 0.5s;
}

a:hover{
	color: #fff;
	background-color: darkred;
}

button{
	outline: 0;
	padding: 1px 5px;
	border: none;
	height: 100%;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(42, 55, 120);
	letter-spacing: 2px;
	font-size: inherit;
	transition: all 0.5s;
}

button:hover{
	cursor: pointer;
	color: #fff;
	background-color: steelblue;
}

.wrapper{
	max-width: 600px;
	margin: 5% auto;

}
.square{
	float: left;
	width: 30%;
	margin: 1%;
	padding-bottom: 25%;
	background-color: #fff;
	border-radius: 25px;
	transition: all 1.0s;
}

.selected{
	color: #fff;
	background-color: steelblue;
}

#statusDisplay{
	display: inline-block;
	width: 25%;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(42, 55, 120);
	letter-spacing: 2px;
}